
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

.from {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  